/*
Default puzzle styling
*/
@import url(//fonts.googleapis.com/css?family=Cutive|Open+Sans&display=swap);
body {
	font-family: 'Open Sans', 'Trebuchet MS', Verdana, sans-serif;
	margin: 0 auto;
}
a:link {
	color:#4576b6;
	text-decoration: none;
}
a:visited {
	color:#7d6bb7;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
#container {
	margin: 0 auto;
	width: 90%;
	display: block;
}
#header, #main {
	margin: 0 auto;
	width: 90%;
}
#header {
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Cutive', serif;
	font-weight: normal;
	margin: 5px;
	line-height: 110%;
}
.subheading {
	font-size: 55%;
	font-style: italic;
}
p.nav {
	margin:0 0 15px 0;
	border-top:3px double #ccc; 
	border-bottom:3px double #ccc;
	font-size:90%;
	padding:3px 0;
}

.crosswordtable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	max-width: 100%;
}
.crosswordtable tr {
	width: 100%;
}
.crosswordtable td {
	width: 3em;
	height: 3em;
	border: 1px solid #333;
	padding: 0;
	margin: 0;
	background-color: #333;
	position: relative;
	border-radius: 0px;
}
.crosswinput {
	width: 100% !important;
	height: 100% !important;
	padding: 0em !important;
	border: none !important;
	text-align: center !important;
	font-size: 2em !important;
	color: #000;
	background-color: #f4f4f4;
	margin-bottom: 0px !important;
	text-transform: uppercase;
}
.crosswordtable td input:focus {
	background-color: #fff;
}
.crosswordtable td span {
	color: #444;
	font-size: 0.9em;
	position: absolute;
	top: -1px;
	left: 1px;
}
input.crosswinput.done {
	font-weight: normal;
	color: #ffffff;
	background-color:#008a60 !important;
}
 #puzzle-across h2, #puzzle-down h2 {
	font-size: 2em;
	font-weight: bold;
}
#puzzle-across li, #puzzle-down li {
	font-size: 1.4em;
	line-height: 1.6em;
}
#puzzle-across ol, #puzzle-down ol {
	padding-left: 20px;
	overflow-y: scroll;
	height: 500px;
}
li.nonumber {
	list-style-type: none;
	padding-bottom: 10px;
	text-indent: -1.5em;
	padding-left:7px;
}
.active, .clues-active {
	background-color: #DEE8F2;
}
.clue-done {
	color: #999;
	text-decoration: line-through;
}
#footer {
	margin: 0 auto;
	width: 90%;
	font-size: 80%;
	clear: left;
}
#footer p {
	text-align: center;
	margin-top: 10px;
	border-top: 3px double #ccc;
	padding: 10px;
}
#puzzle-wrapper, #puzzle-across, #puzzle-down {
	font: 62.5%/1.3em 'Cutive', serif !important;
	padding: 10px;
}
#puzzle-wrapper {
	margin: 0 auto;
	border: 1px solid #000;
}

/*
REPONSIVE STYLES
*/
/* Extra small devices (phone) */
@media screen and (max-width: 992px) {
	#puzzle-wrapper {
		float: none;
		width: 90%;
	}
	 #puzzle-across, #puzzle-down {
		width: 90%;
		float:none;
		margin:0 auto;
	}
}

/* Small devices (portrait tablets and large phones) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	#puzzle-wrapper {
		float: none;
		max-width: 650px;
		width: 90%;
	}
	#puzzle-across, #puzzle-down {
		width: 45%;
		float:left;
		margin: 8px 0 0 10px;
	}
}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 1200px) {
	#main {
		display:flex;
		max-width:1300px;
	}
	#puzzle-wrapper {
		float: left;
		width: 60%;
		max-width: 650px;
	}
	#puzzle-across, #puzzle-down {
		float:left;
		max-width:350px;
		width:45%;
	}
}
